body {
    font-family: Arial;
}

.body2 {
    background-color: black;
    color: white;
    font-size: 40px;
}

div {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.subscribe-button {
    height: 36px;
    width: 113px;
    color: white;
    background-color: black;
    border-radius: 50px;
    font-weight: bold;
}

.subscribe-button:hover {
    cursor: pointer;
}


input {
    height: 20px;
    padding: 7px
}

.calcbutton {
    background-color: green;
    color: white;
    border: none;
    height: 38px;
    padding: 5px;
    width: 80px;
    }

.clicked {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.yourPick {
    display: flex;
    justify-content: space-evenly;
}

.hideGame {
    display: none;
}

.gameResultFlex {
    display: flex;
    justify-content: space-evenly;
}

.result {
    text-align: center;
}

.header {
    text-align: center;
}

.hideStart {
    display: none;
}

.playAgain {
    display: none;
}

.gameResultNew {
    display: none;
}

.choosePick{
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.7;
    padding: 50px;
}

.choosePick:hover {
    opacity: 1;
}

img {
    width: 150px;
}

.buttonStyle{
    opacity: 0.8;
    cursor: pointer;
    height: 100px;
    width: 250px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: black;
    color: red;
    font-size: 30px;
}

.buttonStyle:hover {
    opacity: 1;
}